<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MealTrackingPilot.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
				<key>dateExpires</key>
				<string>8/26/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IP_UIKit_Wisdom.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Intrepid.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxRealm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E949018C33ED18D0E3D605F5CCB10C252E05E20D</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>64MG5T4F63.com.lnt.Lilly-Callisto2.0Dev2</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array>
					<string>health-records</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>64MG5T4F63</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MealTrackingPilot.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>389b19d0-d996-480b-b8fd-5043f66e4500</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.lnt.Lilly-Callisto2.0Dev2</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>64MG5T4F63</string>
				<key>name</key>
				<string>Roland Hartich</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
