<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ct3follow.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8CFED0DB5D6F93528F608F5D839E52BC2AA550E3</string>
				<key>dateExpires</key>
				<string>4/6/21</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CFED0DB5D6F93528F608F5D839E52BC2AA550E3</string>
						<key>dateExpires</key>
						<string>4/6/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CFED0DB5D6F93528F608F5D839E52BC2AA550E3</string>
						<key>dateExpires</key>
						<string>4/6/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DateTimePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CFED0DB5D6F93528F608F5D839E52BC2AA550E3</string>
						<key>dateExpires</key>
						<string>4/6/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LCUIComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CFED0DB5D6F93528F608F5D839E52BC2AA550E3</string>
						<key>dateExpires</key>
						<string>4/6/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>M13Checkbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CFED0DB5D6F93528F608F5D839E52BC2AA550E3</string>
						<key>dateExpires</key>
						<string>4/6/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PDFExporter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CFED0DB5D6F93528F608F5D839E52BC2AA550E3</string>
						<key>dateExpires</key>
						<string>4/6/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PureLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CFED0DB5D6F93528F608F5D839E52BC2AA550E3</string>
						<key>dateExpires</key>
						<string>4/6/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CFED0DB5D6F93528F608F5D839E52BC2AA550E3</string>
						<key>dateExpires</key>
						<string>4/6/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>64MG5T4F63</string>
						<key>name</key>
						<string>Roland Hartich</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>64MG5T4F63.com.lilly.ct3follow7</string>
				<key>com.apple.developer.team-identifier</key>
				<string>64MG5T4F63</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>64MG5T4F63.com.lilly.ct3follow7</string>
				</array>
			</dict>
			<key>name</key>
			<string>ct3follow.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>700ba813-404e-4fc5-8f0e-75f9ee06b209</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.lilly.ct3follow7</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>64MG5T4F63</string>
				<key>name</key>
				<string>Roland Hartich</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
